<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="bi bi-x-lg"></i></a>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Dashboard</a></li>
            <li><a class="nav-link scrollto" href="#about">Classes</a></li>
            <li><a class="nav-link scrollto" href="#services">Teachers</a></li>
            <li><a class="nav-link scrollto" href="#services">Staffs</a></li>
            <li><a class="nav-link scrollto" href="#services">Students</a></li>
            <li><a class="nav-link scrollto" href="#services">Attendance</a></li>
            <li><a class="nav-link scrollto" href="#services">Leaves</a></li>
            <li class="dropdown"><a href="#">
                    Exams
                </a>
                <ul>
                    <li><a href="#">Unit Test 1</a></li>
                    <li><a href="#">Unit Test 2</a></li>
                    <li><a href="#">Unit Test 3</a></li>
                    <li><a href="#">Half Yearly</a></li>
                    <li><a href="#">Yearly</a></li>
                </ul>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
</div>

<div id="main" class="dashboard-main">
    <header id="header" class="dashboard-header">
        <div class="container d-flex align-items-center">
            <button class="openbtn" onclick="openNav()"><i class="bi bi-list"></i></button>
            <!-- <h1 class="logo me-auto"><a href="/landing/home">SmartSchool</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar ms-auto">
                <ul>
                    <li><a class="nav-link scrollto" href="javascript:void(0)"><i class="bi bi-chat-right-text"></i></a>
                    </li>
                    <li><a class="nav-link scrollto" href="javascript:void(0)"><i class="bi bi-bell"></i></a></li>
                    <li class="dropdown"><a href="#">
                            <div class="avatar">
                                <img src="assets/img/team/team-4.jpg" class="avatar-img">
                            </div>
                        </a>
                        <ul>
                            <li><a href="#"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                            <li><a href="#"><i class="bi bi-gear"></i> Settings</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <div class="main">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center account-form">
                        <div class="card-header">
                            <div class="section-title">
                                <h2>Account Info</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-home" type="button" role="tab"
                                        aria-controls="v-pills-home" aria-selected="true">Account Settings</button>
                                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-profile" type="button" role="tab"
                                        aria-controls="v-pills-profile" aria-selected="false">Reset Password</button>

                                </div>
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                        aria-labelledby="v-pills-home-tab">
                                        <div class="form-container">
                                            <form method="post" role="form" class="Account-info">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="avatar">
                                                            <img src="assets/img/team/team-2.jpg" alt="image">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="first-name">First Name</label>
                                                        <input type="text" class="form-control" name="first-name"
                                                            id="first-name" required />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="last-name">Last Name</label>
                                                        <input type="text" class="form-control" name="last-name"
                                                            id="last-name" required />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="name">Your Email</label>
                                                        <input type="email" class="form-control" name="email" id="email"
                                                            required />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="number">Phone Number</label>
                                                        <input type="number" class="form-control" name="number"
                                                            id="number" required />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="address">Address</label>
                                                        <input type="text" class="form-control" name="address"
                                                            id="address" required />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="address">Permanent Address</label>
                                                        <input type="text" class="form-control" name="permanent address"
                                                            id="address" required />
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit">Edit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                        aria-labelledby="v-pills-profile-tab">
                                        <div class="form-container">
                                            <form method="post" role="form" class="reset-password">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label for="new-password">New Password</label>
                                                        <input type="password" class="form-control" name="new password"
                                                            id="new-password" required />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="confirm-password">Confirm Password</label>
                                                        <input type="text" class="form-control" name="confirm password"
                                                            id="confirm-password" required />
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->
</div>