<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>
  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/landing/home">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a routerLink="/admin/dashboard/landing">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Teachers
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12 d-flex align-items-center justify-content-between mb-3 title-box"
        >
          <h2 class="title">
            Hi, {{ getUser.firstName }} {{ getUser.lastName }}
          </h2>
          <h3 class="message">Good Morning</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div
            class="text-center rounded p-4 table-box"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div
              class="d-flex align-items-center justify-content-between mb-3 table-header"
            >
              <h6 class="mb-0 title">Teachers</h6>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Role</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col">Update Status</th>
                    <th scope="col" style="width: 200px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let user of getAllTeachersFetched
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobileNumber }}</td>
                    <td>{{ user.role.name }}</td>
                    <td class="text-center">
                      <div
                        [ngClass]="{
                          approve: user.status === 'ACTIVATED',
                          reject: user.status === 'INPROGRESS',
                          pending: user.status === 'INITIATED',
                          label: true
                        }"
                        href="#"
                      >
                        {{ user.status.toLowerCase() }}
                      </div>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item pending"
                              (click)="
                                getAllStatusUpdate(user._id, 'INITIATED')
                              "
                              >Pending</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item approve"
                              (click)="
                                getAllStatusUpdate(user._id, 'ACTIVATED')
                              "
                              >Approve</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item reject"
                              (click)="
                                getAllStatusUpdate(user._id, 'INPROGRESS')
                              "
                              >Reject</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a
                        class="btn btn-sm btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#statusmodal"
                        (click)="onTeacherSelect(user._id)"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<div
  class="modal fade statusmodal"
  id="statusmodal"
  tabindex="-1"
  aria-labelledby="statusmodal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusmodal">Teachers</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body student-info">
        <div class="row px-4">
          <div class="col-sm-6">
            <p>
              <strong>Name:</strong> {{ getTeacherUpdate?.firstName }}
              {{ getTeacherUpdate?.lastName }}
            </p>
          </div>
          <div class="col-sm-6">
            <p><strong>Email:</strong> {{ getTeacherUpdate?.email }}</p>
          </div>
          <div class="col-sm-6">
            <p>
              <strong>Mobile No:</strong> {{ getTeacherUpdate?.mobileNumber }}
            </p>
          </div>
          <div class="col-sm-6">
            <p><strong>Status :</strong> {{ getTeacherUpdate?.status }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
