<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>
  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/landing/home">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a routerLink="/admin/dashboard/landing">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Classes
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <form
          class="ct-association-form form"
          [formGroup]="classForm"
          (ngSubmit)="onSubmit()"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="row">
            <div class="form-group col-md-5">
              <label for="class">Class Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Plese Enter Class Name"
              />
              <div
                *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="name.errors?.['required']">
                  Please enter class name*
                </div>
              </div>
            </div>
            <div class="form-group col-md-5">
              <label for="select-school">School</label>
              <select
                class="form-control"
                formControlName="school"
                [(ngModel)]="selectedOptionSchool"
              >
                <option selected value="undefined">Please select school</option>
                <option *ngFor="let school of allSchools" [value]="school._id">
                  {{ school.name }}
                </option>
              </select>
              <div
                *ngIf="school.invalid && (school.dirty || school.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="school.errors?.['required']">
                  Please select school*
                </div>
              </div>
            </div>
            <div class="button-box col-md-2">
              <label class="d-block" for="comfirm-password">&nbsp;</label>
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="text-center rounded p-4 table-box"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div
              class="d-flex align-items-center justify-content-between mb-3 table-header"
            >
              <h6 class="mb-0 title">Classes</h6>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S. No.</th>
                    <th scope="col">Class</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="width: 200px">Update Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let class of getAllClasesFetched
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ class.name }}</td>
                    <td>
                      {{ class?.createdBy?.firstName }}
                      {{ class?.createdBy?.lastName }}
                    </td>
                    <td>
                      <div
                        [ngClass]="{
                          approve: class.status === 'ACTIVATED',
                          reject: class.status === 'INPROGRESS',
                          pending: class.status === 'INITIATED',
                          label: true
                        }"
                      >
                        {{ class.status.toLowerCase() }}
                      </div>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item pending"
                              (click)="
                                getAllStatusUpdate(class._id, 'INITIATED')
                              "
                              >Pending</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item approve"
                              (click)="
                                getAllStatusUpdate(class._id, 'ACTIVATED')
                              "
                              >Approve</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item reject"
                              (click)="
                                getAllStatusUpdate(class._id, 'INPROGRESS')
                              "
                              >Reject</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>

                    <td>
                      <a
                        class="btn btn-sm btn-primary"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#statusmodal"
                        (click)="onClassSelect(class)"
                        ><i class="bi bi-eye"></i>
                      </a>
                      <a
                        class="btn btn-sm btn-primary"
                        (click)="deleteClass(class._id)"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<div
  class="modal fade statusmodal"
  id="statusmodal"
  tabindex="-1"
  aria-labelledby="statusmodal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusmodal">Classes</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body student-info">
        <div class="row px-4">
          <div class="col-sm-6">
            <p><strong>Class:</strong> {{ getClassesUpdate?.name }}</p>
          </div>
          <div class="col-sm-6">
            <p>
              <strong>Created By:</strong>
              {{ getClassesUpdate?.createdBy?.firstName }}
              {{ getClassesUpdate?.createdBy?.lastName }}
            </p>
          </div>
          <div class="col-sm-6">
            <p><strong>Status:</strong> {{ getClassesUpdate?.status }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
