<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-center account-form">
            <div class="card-header">
              <div class="section-title">
                <h2>Account Info</h2>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex align-items-start">
                <div
                  class="nav flex-column nav-pills me-3"
                  id="v-pills-tab"
                  role="tablist"
                  aria-orientation="vertical"
                >
                  <button
                    class="nav-link active"
                    id="v-pills-home-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-home"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-home"
                    aria-selected="true"
                  >
                    Account Settings
                  </button>
                  <button
                    class="nav-link"
                    id="v-pills-profile-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-profile"
                    aria-selected="false"
                  >
                    Reset Password
                  </button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="v-pills-home"
                    role="tabpanel"
                    aria-labelledby="v-pills-home-tab"
                  >
                    <div class="form-container">
                      <form
                        class="Account-info"
                        [formGroup]="accountSettingForm"
                        (ngSubmit)="onSubmit()"
                      >
                        <div class="row">
                          <div class="col-md-12">
                            <div class="avatar">
                              <img src="{{ profilePicUrl }}" alt="image" />
                            </div>
                            <input
                              type="file"
                              (change)="onProfilePicChoose($event)"
                            />
                          </div>
                          <div class="form-group col-md-6">
                            <label for="first-name">First Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="firstName"
                              formControlName="firstName"
                            />
                            <div
                              *ngIf="
                                firstName.invalid &&
                                (firstName.dirty || firstName.touched)
                              "
                              class="alert alert-danger"
                            >
                              <div *ngIf="firstName.errors?.['required']">
                                Please enter first name*
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="last-name">Last Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="lastName"
                              formControlName="lastName"
                            />
                            <div
                              *ngIf="
                                lastName.invalid &&
                                (lastName.dirty || lastName.touched)
                              "
                              class="alert alert-danger"
                            >
                              <div *ngIf="lastName.errors?.['required']">
                                Please enter last name*
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="name">Email</label>
                            <input
                              type="email"
                              class="form-control"
                              formControlName="email"
                              id="email"
                            />
                            <div
                              *ngIf="
                                email.invalid && (email.dirty || email.touched)
                              "
                              class="alert alert-danger"
                            >
                              <div *ngIf="email.errors?.['required']">
                                Please enter email address*
                              </div>
                              <div *ngIf="email.errors?.['email']">
                                Please enter valid email address*
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="number">Mobile Number</label>
                            <input
                              type="number"
                              class="form-control"
                              formControlName="mobileNumber"
                              id="mobileNumber"
                            />
                            <div
                              *ngIf="
                                mobileNumber.invalid &&
                                (mobileNumber.dirty || mobileNumber.touched)
                              "
                              class="alert alert-danger"
                            >
                              <div *ngIf="mobileNumber.errors?.['required']">
                                Please enter mobile number*
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="comfirm-password">Select Role</label>
                            <select
                              class="form-control"
                              formControlName="roleId"
                            >
                              <option value="">Please select</option>
                              <option
                                *ngFor="let role of allRoles"
                                [value]="role._id"
                              >
                                {{ role.name.toUpperCase() }}
                              </option>
                            </select>
                            <div
                              *ngIf="
                                roleId.invalid &&
                                (roleId.dirty || roleId.touched)
                              "
                              class="alert alert-danger"
                            >
                              <div *ngIf="roleId.errors?.['required']">
                                Please select your role*
                              </div>
                            </div>
                          </div>
                          <div class="text-center">
                            <button type="submit">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-profile"
                    role="tabpanel"
                    aria-labelledby="v-pills-profile-tab"
                  >
                    <app-resetpassword></app-resetpassword>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
