<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>

  <div class="main" style="align-items: flex-start">
    <section id="calendar" class="calendar pb-0">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center mb-4">
            <div class="section-title">
              <h2 class="title">Attendance</h2>
              <p class="text-danger text-center">
                To take attendance you must have to select date, class and class
                of student and when you click on attendance you got attendance
                status after selecting status response please close explict
                window and then submit. If you leave any one of these field
                blank, your attendance will not be created.
              </p>
            </div>
          </div>
          <div class="col-xl-6 mb-4" (ngSubmit)="createAttendance()">
            <div class="calendar-box">
              <div class="calendar-inner">
                <div class="bg-light text-center rounded p-4">
                  <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-12">
            <ul class="classlist">
              <li *ngFor="let class of allClasses; index as i">
                <input
                  type="radio"
                  id="class1st"
                  name="class"
                  value="class1st"
                  [checked]="getSingleClass?._id === class?._id"
                />
                <label for="class1st" (click)="onButtonClick(class)">{{
                  class?.name
                }}</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="student-carousel">
              <!--carousel-->
              <div class="wrapper">
                <owl-carousel-o [options]="customOptions">
                  <ng-container *ngFor="let student of getStudenstOfClass">
                    <div
                      class="modal fade"
                      id="attendanceModal-{{ student._id }}"
                      tabindex="-1"
                      aria-labelledby="attendanceModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1
                              class="modal-title fs-5"
                              id="attendanceModalLabel"
                            >
                              Attendance Status
                            </h1>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <!-- <div class="modal-body">
                            <div class="button-box">
                              <a
                                href="#"
                                class="btn btn-success"
                                (click)="getStudentsId(student._id, 'PRESENT')"
                                >Present</a
                              >
                              <a
                                href="#"
                                class="btn btn-danger"
                                (click)="getStudentsId(student._id, 'ABSENT')"
                                >Absent</a
                              >
                              <a
                                href="#"
                                class="btn btn-primary"
                                (click)="
                                  getStudentsId(student._id, 'NORESPONSE')
                                "
                                >No Response</a
                              >
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <ng-template class="slide" carouselSlide [id]="student._id">
                      <div class="avatar">
                        <img
                          src="assets/img/team/team-1.jpg"
                          [alt]="student._id"
                          [title]="student._id"
                        />
                      </div>
                      <div class="student-information">
                        <h5 class="name">
                          {{ student?.student?.firstName }}
                          {{ student?.student?.lastName }}
                        </h5>
                        <p class="rollno">{{ student?.rollNo }}</p>
                      </div>
                      <div class="status">
                        status :

                        <!-- <a
                          class="label text-success"
                          (click)="CreateAttendance()"
                          >Present</a
                        >
                        <a class="text-danger" (click)="CreateAttendance()"
                          >Absent</a
                        >
                        <a class="text-primary" (click)="CreateAttendance()"
                          >No Response</a
                        > -->

                        <div
                          [ngClass]="{
                            present: student.status === 'PRESENT',
                            absent: student.status === 'ABSENT',
                            noResponce: student.status === 'NORESPONSE',
                            label: true
                          }"
                        ></div>
                      </div>
                      <a
                        href="#"
                        class="label attendance-btn"
                        data-bs-toggle="modal"
                        data-bs-target="#attendanceModal"
                        (click)="onClick(student)"
                      >
                        Attendance
                      </a>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
              <div class="text-center mt-3">
                <button (click)="createAttendance()" class="btn btn-primary">
                  Submit
                </button>

                <p
                  *ngIf="!selectClass && onSubmitValidation"
                  class="mt-2 mb-0 text-danger"
                >
                  Error: Please select class!
                </p>
                <p
                  *ngIf="!selectDate && onSubmitValidation"
                  class="mt-0 mb-0 text-danger"
                >
                  Error: Please select date!
                </p>
              </div>
              <!--carousel End-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</div>

<div
  class="modal fade attendance-modal"
  id="attendanceModal"
  tabindex="-1"
  aria-labelledby="attendanceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="attendanceModalLabel">
          Attendance Status
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body student-info">
        <div class="row px-4">
          <div class="col-md-6">
            <p>
              <strong>Name :</strong>
              {{ getCurrentStudent?.student?.firstName }}
              {{ getCurrentStudent?.student?.lastName }}
            </p>
          </div>
          <div class="col-md-6 roll-no">
            <p><strong>Roll No :</strong> {{ getCurrentStudent?.rollNo }}</p>
          </div>
        </div>

        <div class="button-box">
          <a
            class="btn btn-success"
            (click)="makeAttendance('PRESENT', getCurrentStudent)"
            >Present</a
          >
          <a
            class="btn btn-danger"
            (click)="makeAttendance('ABSENT', getCurrentStudent)"
            >Absent</a
          >
          <a
            class="btn btn-primary"
            (click)="makeAttendance('NO RESPONSE', getCurrentStudent)"
            >No Response</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
