.forgotpassword {
    padding-top: 160px;
    padding-bottom: 90px;
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url('../../../assets/img/cta-bg.jpg') fixed center center;
    background-size: cover;
    
    .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
        width: 90%;
        max-width: 700px;
        margin: 0 auto;
    }

    .form-container{
        width: 100%;
        border-top: 3px solid #47b2e4;
        border-bottom: 3px solid #47b2e4;
        padding: 30px;
        background: #fff;
        box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
        max-width: 550px;

        .form-group{
            margin-bottom: 20px;
            padding-bottom: 8px;

            label{
                padding-bottom: 8px;
            }

            input{
                height: 44px;
                box-shadow: none;
                font-size: 14px;
                border-radius: 4px;

                &:focus{
                    box-shadow: none;
                }
            }
        }

        button[type=submit] {
            background: #47b2e4;
            border: 0;
            padding: 12px 34px;
            color: #fff;
            transition: 0.4s;
            border-radius: 50px;
        }

        .styled-checkbox {
            position: absolute; // take it out of document flow
            opacity: 0; // hide it

            & + label {
                position: relative;
                cursor: pointer;
                padding: 0;
            }

            // Box.
            & + label:before {
                content: '';
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                width: 20px;
                height: 20px;
                background: white;
                border: 2px solid #47b2e4;
            }

            // Box hover
            &:hover + label:before {
                background: #47b2e4;
            }
            
            // Box focus
            &:focus + label:before {
                box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            }

            // Box checked
            &:checked + label:before {
                background: #47b2e4;
            }
            
            // Disabled state label.
            &:disabled + label {
                color: #b8b8b8;
                cursor: auto;
            }

            // Disabled box.
            &:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

            // Checkmark. Could be replaced with an image
            &:checked + label:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 9px;
                background: white;
                width: 2px;
                height: 2px;
                box-shadow: 
                2px 0 0 white,
                4px 0 0 white,
                4px -2px 0 white,
                4px -4px 0 white,
                4px -6px 0 white,
                4px -8px 0 white;
                transform: rotate(45deg);
            }
        }
    }
}