<section class="forgotpassword">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-6 contact-img d-flex flex-column justify-content-center hero-img aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="assets/img/form-image.png"
          class="img-fluid animated"
          alt=""
        />
      </div>

      <div
        class="col-lg-6 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="form-container">
          <form method="post" role="form" class="forgot-password-form">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>FORGOT PASSWORD</h2>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="email">Registered Email ID</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
