<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="assets/img/clients/customer-support.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="assets/img/clients/classroom.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/reading.png" class="img-fluid" alt="" />
        </div>
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/teacher.png" class="img-fluid" alt="" />
        </div>
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/student.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/library.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            School is a second home for everyone where we spend our most of
            time. So we are giving you a platform to do better in service.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Time saving technology</li>
            <li><i class="ri-check-double-line"></i> Increased Productivity</li>
            <li>
              <i class="ri-check-double-line"></i> Paper replaced by digital
              tools
            </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            A smart school is different from a traditional school. This is a
            kind of software where advanced equipment and technology are used to
            take the process forward. The main idea is to provide the all
            solution in one place with a great experience.
          </p>
          <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
        >
          <div class="content">
            <h3>
              Smart School is a
              <strong
                >quality product in combination with effective support
                services.</strong
              >
            </h3>
            <p>
              These days, school has moved to such a level that it has become
              advanced in the truest sense of the word. These days, schools are
              modern and want a modern technology to enhance school service
              experience.
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#accordion-list-1"
                  ><span>01</span> Manage Student Progress Not Excel Files
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-1"
                  class="collapse show"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    Manage your complete examination process easily and
                    efficiently with automatic calculations, powerful reports
                    and comprehensive report cards.
                  </p>
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span>
                  Record and Manage Student's Attendance Data
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-2"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    Record student attendance, track absenteeism and keep
                    parents and school management informed.
                  </p>
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3"
                  class="collapsed"
                  ><span>03</span> Track & Manage Admission Enquiries
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-3"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    With a pre-created form and easy to use form builder,
                    schools can easily create their admission form and start
                    collecting admission enquiries within minutes.Parents can
                    directly fill the admission form online or visit the school
                    and share their details, which school representatives can
                    fill in.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style="background-image: url('assets/img/why-us.png')"
          data-aos="zoom-in"
          data-aos-delay="150"
        >
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 d-flex align-items-center"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <img src="assets/img/skills.png" class="img-fluid" alt="" />
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 content"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <h3>Smart School web app advantage</h3>
          <p class="fst-italic">
            To know more advantages try at least once and then decide. We made
            best approach and efforts to meet your requirment.
          </p>
          <div class="skills-content">
            <div class="progress">
              <span class="skill">Performance<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 100%"
                ></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Efficiency<i class="val">99%</i></span>
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="90"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 90%"
                ></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Accuracy<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 75%"
                ></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Reliable<i class="val">89%</i></span>
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="55"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 55%"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          We believe in making long term relationship with our valuable
          customers. Quality product in combination with effective support
          services. Our school management software, Smart school is backed by
          complete guidance, installation and strong support system.
        </p>
      </div>

      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Attendance Management</a></h4>
            <p>
              Keep track of your students like never before. Get detailed
              attendance reports and individual student information with Smart
              School.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Roles & Permissions</a></h4>
            <p>
              Manage multiple staff & students, get quick access to information,
              ensure transparency in work, and more.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Student Performance Report</a></h4>
            <p>
              Get a detailed report of students' performance and help in their
              holistic development with the performance report. Identify the
              knowledge and skills gap and provide them the required support
              after analyzing their performance.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="">Classroom Management</a></h4>
            <p>
              Business & Professional plan of smart school can help
              administrators to manage their Classroom engage effectively.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Immediate To Action</h3>
          <p>
            The smart school software ready-to-use and easy to customize
            software solutions are beneficial for school of all size- and aim at
            enhancing client's competitiveness and efficacy by making their work
            streamlined.In smart school software your tasks are completed with
            full accuracy and in stipulated time frame.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Immediate To Action</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Our Portfolio</h2>
        <p>
          School management is not as easy as it looks. A proper and systeamatic
          approach is required to be used so that the management can run
          smoothly. In this dynamic world you can not work without using
          technology. Technology will smoothen your work and make things done
          more efficiently too.
        </p>
      </div>

      <ul
        id="portfolio-flters"
        class="d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <li data-filter="*" class="filter-active">Admission Management</li>
        <li data-filter=".filter-app">Attendance Management</li>
        <li data-filter=".filter-card">Exam Management</li>
        <li data-filter=".filter-web">Faculty Management</li>
      </ul>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <a
              href="assets/img/portfolio/portfolio-1.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="App 1"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a
              href="assets/img/portfolio/portfolio-2.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="Web 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img3.png" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <a
              href="assets/img/portfolio/portfolio-3.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="App 2"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img4.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a
              href="assets/img/portfolio/portfolio-4.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="Card 2"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img5.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <a
              href="assets/img/portfolio/portfolio-5.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="Web 2"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img6.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <a
              href="assets/img/portfolio/portfolio-6.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="App 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img7.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <a
              href="assets/img/portfolio/portfolio-7.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="Card 1"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img9.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <a
              href="assets/img/portfolio/portfolio-8.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="Card 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img">
            <img src="assets/img/portfolio/img8.jpg" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a
              href="assets/img/portfolio/portfolio-9.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link"
              title="Web 3"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Team</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="pic">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="pic">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Managing Director</span>
              <p>
                Aut maiores voluptates amet et quis praesentium qui senda para
              </p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="pic">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Principle</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="400"
          >
            <div class="pic">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Teacher</span>
              <p>
                Dolorum tempora officiis odit laborum officiis et et accusamus
              </p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Pricing</h2>
        <p>
          Everything you need best for your school, then why not management
          service?
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Basic Plan</h3>
            <h4><sup>$</sup>0<span>per month</span></h4>
            <ul>
              <li>
                <i class="bx bx-check"></i> Students & Teachers Information
              </li>
              <li>
                <i class="bx bx-check"></i> Admission & Onboarding Enquery
              </li>
              <li><i class="bx bx-check"></i> Help support</li>
              <li class="na">
                <i class="bx bx-x"></i>
                <span>Student Attendance & Exam Report</span>
              </li>
              <li class="na">
                <i class="bx bx-x"></i>
                <span>Online support from Smart school team</span>
              </li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>

        <div
          class="col-lg-4 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="box featured">
            <h3>Professional Plan</h3>
            <h4><sup>$</sup>29<span>per month</span></h4>
            <ul>
              <li>
                <i class="bx bx-check"></i> Students & Teachers Information
              </li>
              <li>
                <i class="bx bx-check"></i> Admission & Onboarding Enquery
              </li>
              <li>
                <i class="bx bx-check"></i> Online support from Smart school
                team
              </li>
              <li>
                <i class="bx bx-check"></i> Student Attendance & Exam Report
              </li>
              <li><i class="bx bx-check"></i> Help support</li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>

        <div
          class="col-lg-4 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="box">
            <h3>Business Plan</h3>
            <h4><sup>$</sup>49<span>per month</span></h4>
            <ul>
              <li>
                <i class="bx bx-check"></i>Students & Teachers Information
              </li>
              <li>
                <i class="bx bx-check"></i> Admission & Onboarding Enquery
              </li>
              <li>
                <i class="bx bx-check"></i> Online support from Smart school
                team
              </li>
              <li>
                <i class="bx bx-check"></i> Student Attendance & Exam Report
              </li>
              <li><i class="bx bx-check"></i> Help Support</li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>
          A customize and scalable school management service software is now
          within your reach.To bring innovative transformation in the school
          management service, the smart school has come up with school
          management software, SMART SCHOOL.
        </p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              class="collapse"
              data-bs-target="#faq-list-1"
              >How smart school is different from other software?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div
              id="faq-list-1"
              class="collapse show"
              data-bs-parent=".faq-list"
            >
              <p>
                In smart school you will get seamless and easy process for each
                functionality with budget friendly cost. You will eligible to do
                all process at one place.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-2"
              class="collapsed"
            >
              Online educational resources are huge but not getting for other
              services ?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Today generation you will get everywhere learning and teaching
                resource but not for manage management, but now smart school is
                presenting a platform where you can get all resource related to
                management.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-3"
              class="collapsed"
            >
              Can software for school management automate the entire school
              processes and operations?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                YES a school management software digitizes and automates all
                major school tasks such as administrative, management, student
                attendance, student information, and others.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-4"
              class="collapsed"
            >
              How to enhance time and reduce paper work?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                In this century technology are increasing. A School Management
                Software is a tool to manage all the educational and management
                tasks without any hassle. It enables schools to digitally manage
                and monitor daily school activities on a single platform.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-5"
              class="collapsed"
            >
              What is smart school & what's the benefits to use smart school
              service?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                The smart school is a technology which is based in current
                requirment of school management. benefits are - Easy access to
                information,Paper is replaced by digital tools & much more.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          To send us your query & request fill this form, we will contact you
          with in 24 working hour's after receiving your message.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0"
              style="border: 0; width: 100%; height: 290px"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <!-- <form class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="firstName"
                  formControlName="firstName"
                  required
                />

                <div
                  *ngIf="
                    firstName.invalid && (firstName.dirty || firstName.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="firstName.errors?.['required']">
                    Please enter first name*
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input
                  type="text"
                  name="lastName"
                  class="form-control"
                  formControlName="lastName"
                  id="lastName"
                  required
                />
                <div
                  *ngIf="
                    lastName.invalid && (lastName.dirty || lastName.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="lastName.errors?.['required']">
                    Please enter last name*
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    formControlName="email"
                    id="email"
                    required
                  />
                  <div
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger"
                  >
                    <div *ngIf="email.errors?.['required']">
                      Please enter email address*
                    </div>
                    <div *ngIf="email.errors?.['email']">
                      Please enter valid email address*
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="number">Mobile Number</label>
                  <input
                    type="number"
                    class="form-control"
                    name="mobileNumber"
                    formControlName="mobileNumber"
                    id="mobileNumber"
                    required
                  />
                  <div
                    *ngIf="
                      mobileNumber.invalid &&
                      (mobileNumber.dirty || mobileNumber.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div *ngIf="mobileNumber.errors?.['required']">
                      Please enter mobile number*
                    </div>
                  </div>
                </div>
              </div>
            </div>
             <div class="form-group">
              <label for="name">Subject</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                required
              />
            </div> 
            <div class="form-group">
              <label for="name">Message</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form> -->
          <app-enquiry></app-enquiry>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
