<header id="header" class="dashboard-header">
  <div class="container d-flex align-items-center">
    <button class="openbtn" onclick="openNav()">
      <i class="bi bi-list"></i>
    </button>
    <!-- <h1 class="logo me-auto"><a href="/landing/home">SmartSchool</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar ms-auto">
      <ul>
        <li>
          <a class="nav-link scrollto" href="javascript:void(0)"
            ><i class="bi bi-chat-right-text"></i
          ></a>
        </li>
        <li class="dropdown notification-dropdown">
          <a class="nav-link scrollto" href="javascript:void(0)"
            ><i class="bi bi-bell"></i><span class="notifiction"></span
          ></a>
          <ul>
            <li>
              <div class="list-group w-auto notifiction">
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex gap-3 py-3"
                  aria-current="true"
                >
                  <img
                    src="assets/img/team/team-4.jpg"
                    alt="twbs"
                    width="32"
                    height="32"
                    class="rounded-circle flex-shrink-0"
                  />
                  <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                      <h6 class="mb-0">List group item heading</h6>
                      <p class="mb-0 opacity-75">
                        Some placeholder content in a paragraph.
                      </p>
                    </div>
                    <small class="opacity-50 text-nowrap">now</small>
                  </div>
                </a>
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex gap-3 py-3"
                  aria-current="true"
                >
                  <img
                    src="assets/img/team/team-4.jpg"
                    alt="twbs"
                    width="32"
                    height="32"
                    class="rounded-circle flex-shrink-0"
                  />
                  <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                      <h6 class="mb-0">Another title here</h6>
                      <p class="mb-0 opacity-75">
                        Some placeholder content in a paragraph that goes a
                        little longer so it wraps to a new line.
                      </p>
                    </div>
                    <small class="opacity-50 text-nowrap">3d</small>
                  </div>
                </a>
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex gap-3 py-3"
                  aria-current="true"
                >
                  <img
                    src="assets/img/team/team-4.jpg"
                    alt="twbs"
                    width="32"
                    height="32"
                    class="rounded-circle flex-shrink-0"
                  />
                  <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                      <h6 class="mb-0">Third heading</h6>
                      <p class="mb-0 opacity-75">
                        Some placeholder content in a paragraph.
                      </p>
                    </div>
                    <small class="opacity-50 text-nowrap">1w</small>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">
            <div class="avatar">
              <img src="assets/img/team/team-4.jpg" class="avatar-img" />
            </div>
          </a>
          <ul>
            <li>
              <a href="#"><i class="bi bi-gear"></i>Reset Password</a>
            </li>
            <li>
              <a routerLink="/admin/dashboard/account-settings"
                ><i class="bi bi-gear"></i>Settings</a
              >
            </li>
            <li>
              <a routerLink="/admin/dashboard/my-school"
                ><i class="bi bi-gear"></i>My school</a
              >
            </li>
            <li>
              <a (click)="onLogout()"
                ><i class="bi bi-box-arrow-right"></i> Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
