<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>

  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="cs-association-form form" [formGroup]="attedanceSheetForm" (ngSubmit)="onSubmit()"
            data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
              <div class="form-group col-md-5">
                <label for="select-class">Select Class</label>
                <select class="form-control" formControlName="class" id="select-class">
                  <option value="">Please select class</option>
                  <option *ngFor="let class of allClasses" [value]="class._id">
                    {{ class.name.toUpperCase() }}
                  </option>
                </select>
                <div *ngIf="class.invalid && (class.dirty || class.touched)" class="alert alert-danger">
                  <div *ngIf="class.errors?.['required']">
                    Please select class*
                  </div>
                </div>
              </div>
              <div class="form-group col-md-5">
                <label for="select-date">Select Date</label>
                <input type="date" class="form-control" id="select-date" formControlName="dateOfAttendance" />

                <div *ngIf="
                    dateOfAttendance.invalid &&
                    (dateOfAttendance.dirty || dateOfAttendance.touched)
                  " class="alert alert-danger">
                  <div *ngIf="dateOfAttendance.errors?.['required']">
                    Please select valid date*
                  </div>
                </div>
              </div>
              <div class="button-box col-md-2">
                <label class="d-block">&nbsp;</label>
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center rounded p-4 table-box" data-aos="fade-up" data-aos-delay="200">
            <div class="d-flex align-items-center justify-content-between mb-3 table-header">
              <h6 class="mb-0 title">Attendance Sheet</h6>
              <a href="">Show All</a>
            </div>
            <div class="table-responsive">
              <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S. No.</th>
                    <th scope="col">Class</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date Of Attendance</th>
                    <th scope="col" style="width: 110px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let getClassAttendanceData of finalClassStudentAttendence
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    ">
                    <td>{{ i + 1 }}</td>
                    <td>{{ getClassAttendanceData.class }}</td>

                    <td>
                      {{ getClassAttendanceData.firstName }}
                      {{ getClassAttendanceData.lastName }}
                    </td>

                    <td>
                      <div [ngClass]="{
                          present: getClassAttendanceData.status === 'PRESENT',
                          absent: getClassAttendanceData.status === 'ABSENT',
                          noresponse:
                            getClassAttendanceData.status === 'NORESPONSE',
                          label: true
                        }">
                        {{ getClassAttendanceData.status | titlecase }}
                      </div>
                    </td>

                    <td>
                      {{
                      getClassAttendanceData.dateOfAttendance
                      | date : "dd/MM/yyyy"
                      }}
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#statusmodal"
                        (click)="onAttendanceUpdate(getClassAttendanceData)"><i class="bi bi-eye"></i></a>
                      <a class="btn btn-sm btn-primary" href="#"><i class="bi bi-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<div class="modal fade statusmodal" id="statusmodal" tabindex="-1" aria-labelledby="statusmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusmodal">Attendance Status</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body student-info">
        <div class="row px-4">
          <div class="col-sm-6">
            <p><strong>Class :</strong>{{ getAttendanceUpdate?.class }}</p>
          </div>
          <div class="col-sm-6">
            <p>
              <strong>Name:</strong>{{ getAttendanceUpdate?.firstName }}
              {{ getAttendanceUpdate?.lastName }}
            </p>
          </div>
          <div class="col-sm-6">
            <p>
              <strong>Date Of Attendance:</strong>{{ getAttendanceUpdate?.dateOfAttendance | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="col-sm-6">
            <p><strong>Status :</strong>{{ getAttendanceUpdate?.status }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>