<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>

  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form
            class="cs-association-form form"
            [formGroup]="attedanceSheetForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="form-group col-md-5">
                <label for="select-class">Select Class</label>
                <select
                  class="form-control"
                  formControlName="class"
                  id="select-class"
                >
                  <option value="">Please select class</option>
                  <option *ngFor="let class of allClasses" [value]="class._id">
                    {{ class.name.toUpperCase() }}
                  </option>
                </select>
                <div
                  *ngIf="class.invalid && (class.dirty || class.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="class.errors?.['required']">
                    Please select class*
                  </div>
                </div>
              </div>
              <div class="form-group col-md-5">
                <label for="select-date">Select Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="select-date"
                  formControlName="dateOfAttendance"
                />

                <div
                  *ngIf="
                    dateOfAttendance.invalid &&
                    (dateOfAttendance.dirty || dateOfAttendance.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="dateOfAttendance.errors?.['required']">
                    Please select valid date*
                  </div>
                </div>
              </div>
              <div class="button-box col-md-2">
                <label class="d-block">&nbsp;</label>
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center rounded p-4 table-box">
            <div
              class="d-flex align-items-center justify-content-between mb-3 table-header"
            >
              <h6 class="mb-0 title">Attendance Sheet</h6>
              <a href="">Show All</a>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S. No.</th>
                    <th scope="col">Class</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    <th scope="col" style="width: 110px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let getClassAttendanceData of getClassStudentAttendance
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ getClassAttendanceData.class.name }}</td>
                    <td>
                      {{ getClassAttendanceData.firstName }}
                      {{ getClassAttendanceData.lastName }}
                    </td>
                    <!-- <td class="text-center">
                      <div
                        [ngClass]="{
                          approve:
                            getClassAttendanceData.status === 'ACTIVATED',
                          reject:
                            getClassAttendanceData.status === 'INPROGRESS',
                          pending:
                            getClassAttendanceData.status === 'INITIATED',
                          label: true
                        }"
                        href="#"
                      >
                        {{ getClassAttendanceData.status.toLowerCase() }}
                      </div>
                    </td> -->
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item pending">Pending</a>
                          </li>
                          <li>
                            <a class="dropdown-item approve">Approve</a>
                          </li>
                          <li>
                            <a class="dropdown-item reject">Reject</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Tilte</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
