<form class="php-email-form" [formGroup]="enquiryForm">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="firstname">First Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        required
      />

      <div
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="firstName.errors?.['required']">
          Please enter first name*
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="lastname">Last Name</label>
      <input
        type="text"
        name="lastName"
        class="form-control"
        formControlName="lastName"
        id="lastName"
        required
      />
      <div
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="lastName.errors?.['required']">Please enter last name*</div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          formControlName="email"
          id="email"
          required
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="email.errors?.['required']">
            Please enter email address*
          </div>
          <div *ngIf="email.errors?.['email']">
            Please enter valid email address*
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="number">Mobile Number</label>
        <input
          type="number"
          class="form-control"
          name="mobileNumber"
          formControlName="mobileNumber"
          id="mobileNumber"
          required
        />
        <div
          *ngIf="
            mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="mobileNumber.errors?.['required']">
            Please enter mobile number*
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="form-group">
              <label for="name">Subject</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                required
              />
            </div> -->
  <div class="form-group">
    <label for="name">Message</label>
    <textarea class="form-control" name="message" rows="10" required></textarea>
  </div>
  <div class="my-3">
    <div class="loading">Loading</div>
    <div class="error-message"></div>
    <div class="sent-message">Your message has been sent. Thank you!</div>
  </div>
  <div class="text-center">
    <button type="submit">Send Message</button>
  </div>
</form>
