<header id="header" class="dashboard-header">
  <div class="container d-flex align-items-center">
    <button class="openbtn" onclick="openNav()">
      <i class="bi bi-list"></i>
    </button>
    <!-- <h1 class="logo me-auto"><a href="/landing/home">SmartSchool</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar ms-auto">
      <ul>
        <li>
          <a class="nav-link scrollto" href="javascript:void(0)"
            ><i class="bi bi-chat-right-text"></i
          ></a>
        </li>
        <li>
          <a class="nav-link scrollto" href="javascript:void(0)"
            ><i class="bi bi-bell"></i
          ></a>
        </li>
        <li class="dropdown">
          <a href="#">
            <div class="avatar">
              <img src="assets/img/team/team-4.jpg" class="avatar-img" />
            </div>
          </a>
          <ul>
            <li>
              <a href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-gear"></i> Settings</a>
            </li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
