<section class="signup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 contact-img d-flex flex-column justify-content-center hero-img aos-init aos-animate"
                data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/img/form-image.png" class="img-fluid animated" alt="" />
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-container">
                    <form method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2>REGISTER NOW</h2>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="first-name">First Name</label>
                                <input type="text" name="name" class="form-control" id="first-name" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last-name">Last Name</label>
                                <input type="text" name="name" class="form-control" id="last-name" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="number">Phone No</label>
                                <input type="number" class="form-control" name="number" id="number" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="comfirm-password">Confirm Password</label>
                                <input type="comfirm-password" class="form-control" name="comfirm-password"
                                    id="comfirm-password" required />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="role">Your Role</label>
                                <select name="role" id="role" class="form-control">
                                    <option value="Student">Student</option>
                                    <option value="Teacher">Teacher</option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>