<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-scrolled">
  <div class="container d-flex align-items-center">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a routerLink="/landing/home" class="logo me-auto"
      ><img src="assets/img/SmartSchoolLogo.png" alt="" class="img-fluid"
    /></a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="getstarted scrollto" href="signin">Login</a></li>
        <li><a class="getstarted scrollto" href="signup">Register</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
