<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>

  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="cs-association-form form">
            <div class="row">
              <div class="form-group col-md-5">
                <label for="comfirm-password">Classes</label>
                <select class="form-control" formControlName="studentsid" [(ngModel)]="selectedOption">
                  <option selected value="undefined">
                    Please select class
                  </option>
                  <option *ngFor="let class of allClasses" [value]="class._id">
                    {{ class.name.toUpperCase() }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="comfirm-password">Students</label>
                <select class="form-control" formControlName="studentsid" [(ngModel)]="selectedOption">
                  <option selected value="undefined">
                    Please select student
                  </option>
                  <option *ngFor="let Student of allStudents" [value]="Student._id">
                    {{ Student.firstName.toUpperCase() }}
                    {{ Student.lastName.toUpperCase() }}
                  </option>
                </select>
              </div>
              <div class="button-box col-md-2">
                <label class="d-block" for="comfirm-password">&nbsp;</label>
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center rounded p-4 table-box">
            <div class="d-flex align-items-center justify-content-between mb-3 table-header">
              <h6 class="mb-0 title">CS Association</h6>
              <a href="">Show All</a>
            </div>
            <div class="table-responsive">
              <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S. No.</th>
                    <th scope="col">Class</th>
                    <th scope="col">Student</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="width: 200px">Update Status</th>
                    <th scope="col" style="width: 200px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let association of allClassStudentAssociation
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    ">
                    <td>{{ i + 1 }}</td>
                    <td>{{ association.class.name }}</td>
                    <td>
                      {{ association.student.firstName }}
                      {{ association.student.lastName }}
                    </td>
                    <td>
                      <div class="pending label" href="#">Pending</div>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item pending" href="#">Pending</a>
                          </li>
                          <li>
                            <a class="dropdown-item approve" href="#">Approve</a>
                          </li>
                          <li>
                            <a class="dropdown-item reject" href="#">Reject</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="javascript:void(0)" data-bs-toggle="modal"
                        data-bs-target="#studentModal"><i class="bi bi-eye"></i></a>
                      <a class="btn btn-sm btn-primary" href="#"><i class="bi bi-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>


<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalLabel">Student Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="py-3 px-2">
          <div class="avatar">
            <img src="https://i.imgur.com/hczKIze.jpg" class="rounded-circle">
          </div>
          <div class="student-detail">
            <div class="row">
              <div class="col-4">
                <h4 class="title">
                  Name :
                </h4>
              </div>
              <div class="col-8">
                <p>Arpit Mishra</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <h4 class="title">
                  Class :
                </h4>
              </div>
              <div class="col-8">
                <p>1st</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <h4 class="title">
                  Roll No :
                </h4>
              </div>
              <div class="col-8">
                <p>1</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="javascript:void(0)" class="link btn">View Full Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>