section.table {
  padding-top: 10px;

  .title-box {
    margin-top: 20px;

    .title {
      font-weight: bold;
      font-size: 28px;
      color: #37517e;
      margin-bottom: 0px;
    }

    .message {
      font-weight: medium;
      font-size: 24px;
      color: #37517e;
      margin-bottom: 0px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }
}

section.chart {
  width: 100%;
  display: block;

  .title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }
}

@media (max-width: 768px) {
  section.table .title-box {
    .title {
      font-size: 20px;
    }

    .message {
      font-size: 16px;
    }
  }
}