<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>
  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">
                <a routerLink="/admin/dashboard/landing">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Leaves</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="text-left">
            <form class="leave" [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group mb-0">
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label for="from-date">From Date</label>

                      <input
                        type="date"
                        class="form-control"
                        placeholder="DD/MM/YYYY"
                        formControlName="startDate"
                      />
                      <div
                        *ngIf="
                          startDate.invalid &&
                          (startDate.dirty || startDate.touched)
                        "
                        class="alert alert-danger"
                      >
                        <div *ngIf="startDate.errors?.['required']">
                          Please enter from-date*
                        </div>
                        <div *ngIf="startDate.errors?.['startDate']">
                          Please enter from-date*
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="to-date">To Date</label>
                      <input
                        type="date"
                        class="form-control"
                        formControlName="endDate"
                      />
                      <div
                        *ngIf="
                          endDate.invalid && (endDate.dirty || endDate.touched)
                        "
                        class="alert alert-danger"
                      >
                        <div *ngIf="endDate.errors?.['required']">
                          Please enter to-date*
                        </div>
                        <div *ngIf="endDate.errors?.['endDate']">
                          Please enter to- date*
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="leave-type">Type Of Leave</label>
                      <select
                        name="leave-type"
                        id="leave-type"
                        class="form-control"
                        formControlName="leaveType"
                        [(ngModel)]="selectedOptionleaveType"
                      >
                        <option
                          disabled
                          selected
                          hidden
                          selected
                          value="undefined"
                        >
                          Please select type of leave
                        </option>
                        <option value="SICK">SICK</option>
                        <option value="EMERGENCY">EMERGENCY</option>
                        <option value="MEDICAL">MEDICAL</option>
                        <option value="NORMAL">NORMAL</option>
                        <option value="PLANNED">PLANNED</option>
                      </select>
                      <div
                        *ngIf="
                          leaveType.invalid &&
                          (leaveType.dirty || leaveType.touched)
                        "
                        class="alert alert-danger"
                      >
                        <div *ngIf="leaveType.errors?.['required']">
                          Please enter leave type*
                        </div>
                        <div *ngIf="leaveType.errors?.['leaveType']">
                          Please enter leave type*
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-4 mb-0">
                      <label for="notify">Notify</label>
                      <select
                        id="notify"
                        class="form-control"
                        formControlName="tag"
                        [(ngModel)]="selectedOptiontag"
                      >
                        <option
                          disabled
                          selected
                          hidden
                          selected
                          value="undefined"
                        >
                          Please select notify member
                        </option>
                        <option value="Select">Select --</option>

                        <option
                          *ngFor="let teacher of allTeachers"
                          [value]="teacher._id"
                        >
                          {{ teacher.firstName.toUpperCase() }}
                          {{ teacher.lastName.toUpperCase() }}
                        </option>

                        <div
                          *ngIf="tag.invalid && (tag.dirty || tag.touched)"
                          class="alert alert-danger"
                        >
                          <div *ngIf="tag.errors?.['required']">
                            Please enter name*
                          </div>
                          <div *ngIf="tag.errors?.['tag']">
                            Please enter name*
                          </div>
                        </div>
                      </select>
                      <p class="notify-text">
                        <span>Note:</span> These employees will be notified
                        through email when your leave request approved
                      </p>
                    </div>
                    <div class="form-group col-md-8">
                      <label for="name">Reason</label>
                      <textarea
                        class="form-control"
                        name="message"
                        rows="4"
                        formControlName="reason"
                      ></textarea>
                      <div
                        *ngIf="
                          reason.invalid && (reason.dirty || reason.touched)
                        "
                        class="alert alert-danger"
                      >
                        <div *ngIf="reason.errors?.['required']">
                          Please enter reason*
                        </div>
                        <div *ngIf="reason.errors?.['reason']">
                          Please enter reason*
                        </div>
                      </div>
                    </div>

                    <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">
                        Your message has been sent. Thank you!
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit">Apply Leave</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12 d-flex align-items-center justify-content-between mb-3 title-box"
        >
          <h2 class="title">
            Hi, {{ getUser.firstName }} {{ getUser.lastName }}
          </h2>
          <h3 class="message">Good Morning</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center rounded p-4 table-box">
            <div
              class="d-flex align-items-center justify-content-between mb-3 table-header"
            >
              <h6 class="mb-0 title">Leaves</h6>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Reported To</th>
                    <th scope="col" style="width: 200px">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let leave of getLeaveData
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ leave?.startDate }}</td>
                    <td>
                      {{ leave?.endDate }}
                    </td>
                    <td>{{ leave?.leaveType }}</td>
                    <td>
                      {{ leave?.tag?.firstName }} {{ leave?.tag?.lastName }}
                    </td>
                    <td>
                      <div
                        [ngClass]="{
                          approve: leave.status === 'APPROVED',
                          reject: leave.status === 'REJECTED',
                          pending: leave.status === 'PENDING',
                          label: true
                        }"
                      >
                        {{ leave.status.toLowerCase() }}
                      </div>
                    </td>
                    <td>
                      <a
                        class="btn btn-sm btn-primary"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#statusmodal"
                        (click)="onLeaveSelect(leave)"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<div
  class="modal fade statusmodal"
  id="statusmodal"
  tabindex="-1"
  aria-labelledby="statusmodal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusmodal">Leave</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body student-info">
        <div class="row px-4">
          <div class="col-sm-6">
            <p><strong>From Date:</strong> {{ getLeaveUpdate?.startDate }}</p>
          </div>
          <div class="col-sm-6">
            <p><strong>To Date:</strong> {{ getLeaveUpdate?.endDate }}</p>
          </div>
          <div class="col-sm-6">
            <p><strong>Leave Type:</strong> {{ getLeaveUpdate?.leaveType }}</p>
          </div>
          <div class="col-sm-6">
            <p><strong>Status:</strong> {{ getLeaveUpdate?.status }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
