<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>
  <div class="main" style="align-items: flex-start">
    <section id="calendar" class="calendar pb-0">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-xl-6 mb-4">
            <div class="calendar-box">
              <div class="calendar-inner">
                <div class="bg-light text-center rounded p-4">
                  <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-12">
            <ul class="classlist">
              <li *ngFor="let class of allClasses; index as i">
                <div (click)="getClassRow(class)">
                  <input type="radio" [checked]="false" [value]="class?._id" />
                  <label for="{{ class?.name }}">{{ class?.name }}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="student-carousel">
              <!--carousel-->
              <div class="wrapper">
                <owl-carousel-o [options]="customOptions">
                  <ng-container *ngFor="let slide of apiData">
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-1.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student One</h5>
                        <p class="rollno">001</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-success">
                          Present
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-2.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Two</h5>
                        <p class="rollno">002</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-danger">
                          Absent
                        </a>
                      </div>
                      <a data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <div class="avatar">
                      <img src="assets/img/team/team-3.jpg" [alt]="slide.id" [title]="slide.id" />
                    </div>
                    <div class="student-information">
                      <h5 class="name">Student Three</h5>
                      <p class="rollno">003</p>
                    </div>
                    <div class="status">
                      status :
                      <a href="javascript:void(0)" class="label text-primary">
                        No Response
                      </a>
                    </div>
                    <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                      data-bs-target="#attendanc_status_modal">
                      Attendance
                    </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-4.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Four</h5>
                        <p class="rollno">004</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-success">
                          Present
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-1.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student One</h5>
                        <p class="rollno">005</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-danger">
                          Absent
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-2.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Two</h5>
                        <p class="rollno">006</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-primary">
                          No Response
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-3.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Three</h5>
                        <p class="rollno">007</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-success">
                          Present
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-4.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Four</h5>
                        <p class="rollno">008</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-danger">
                          Absent
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-1.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student One</h5>
                        <p class="rollno">009</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-primary">
                          No Response
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-2.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Two</h5>
                        <p class="rollno">010</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-success">
                          Present
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-3.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Three</h5>
                        <p class="rollno">011</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-danger">
                          Absent
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                      <div class="avatar">
                        <img src="assets/img/team/team-4.jpg" [alt]="slide.id" [title]="slide.id" />
                      </div>
                      <div class="student-information">
                        <h5 class="name">Student Four</h5>
                        <p class="rollno">012</p>
                      </div>
                      <div class="status">
                        status :
                        <a href="javascript:void(0)" class="label text-primary">
                          No Response
                        </a>
                      </div>
                      <a href="#" class="label attendance-btn" data-bs-toggle="modal"
                        data-bs-target="#attendanc_status_modal">
                        Attendance
                      </a>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
              <!--carousel End-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="attendanc_status_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="attendanc_status_modal">
          Attendance Status
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="button-box">
          <a href="#" class="btn btn-success">Present</a>
          <a href="#" class="btn btn-danger">Absent</a>
          <a href="#" class="btn btn-primary">No Response</a>
        </div>
      </div>
    </div>
  </div>
</div>