<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>
  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Teachers
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12 d-flex align-items-center justify-content-between mb-3 title-box"
        >
          <h2 class="title">Hii, Mukut Prasad</h2>
          <h3 class="message">Good Morning</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h6 class="mb-0 title">Teachers</h6>
              <a href="">Show All</a>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">
                      <input class="form-check-input" type="checkbox" />
                    </th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoice</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Amount</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" style="width: 200px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input class="form-check-input" type="checkbox" /></td>
                    <td>01 Jan 2045</td>
                    <td>INV-0123</td>
                    <td>Jhon Doe</td>
                    <td>$123</td>
                    <td class="text-center">
                      <a class="approve btn btn-sm btn-primary" href="#"
                        >Approve</a
                      >
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-pencil"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td><input class="form-check-input" type="checkbox" /></td>
                    <td>01 Jan 2045</td>
                    <td>INV-0123</td>
                    <td>Jhon Doe</td>
                    <td>$123</td>
                    <td class="text-center">
                      <a class="approve btn btn-sm btn-primary" href="#"
                        >Approve</a
                      >
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-pencil"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td><input class="form-check-input" type="checkbox" /></td>
                    <td>01 Jan 2045</td>
                    <td>INV-0123</td>
                    <td>Jhon Doe</td>
                    <td>$123</td>
                    <td class="text-center">
                      <a class="approve btn btn-sm btn-primary" href="#"
                        >Approve</a
                      >
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-pencil"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td><input class="form-check-input" type="checkbox" /></td>
                    <td>01 Jan 2045</td>
                    <td>INV-0123</td>
                    <td>Jhon Doe</td>
                    <td>$123</td>
                    <td class="text-center">
                      <a class="approve btn btn-sm btn-primary" href="#"
                        >Approve</a
                      >
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-pencil"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td><input class="form-check-input" type="checkbox" /></td>
                    <td>01 Jan 2045</td>
                    <td>INV-0123</td>
                    <td>Jhon Doe</td>
                    <td>$123</td>
                    <td class="text-center">
                      <a class="approve btn btn-sm btn-primary" href="#"
                        >Approve</a
                      >
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-pencil"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true"
                        ><i class="bi bi-chevron-left"></i
                      ></span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link active" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true"
                        ><i class="bi bi-chevron-right"></i
                      ></span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
