<section class="resetpassword">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 contact-img d-flex flex-column justify-content-center hero-img aos-init aos-animate"
                data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/img/form-image.png" class="img-fluid animated" alt="" />
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-container">
                    <form method="post" role="form" class="signin-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2>RESET PASSWORD</h2>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" name="password" id="password" required />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="confirmpassword">Confirm Password</label>
                                <input type="confirmpassword" class="form-control" name="confirmpassword"
                                    id="confirmpassword" required />
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>