<div class="form-container">
  <form method="post" role="form" class="reset-password" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6 ml-3">
        <label for="password">Current Password</label>
        <input type="password" class="form-control" formControlName="currentPassword" />
        <div *ngIf="
            currentPassword.invalid &&
            (currentPassword.dirty || currentPassword.touched)
          " class="alert alert-danger">
          <div *ngIf="currentPassword.errors?.['required']">
            Please enter current password*
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="new-password">New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" />
        <div *ngIf="
            newPassword.invalid && (newPassword.dirty || newPassword.touched)
          " class="alert alert-danger">
          <div *ngIf="newPassword.errors?.['required']">
            Please enter new password*
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="confirm-password">Confirm Password</label>
        <input type="text" class="form-control" formControlName="confirmNewPassword" />
        <div *ngIf="
            confirmNewPassword.invalid &&
            (confirmNewPassword.dirty || confirmNewPassword.touched)
          " class="alert alert-danger">
          <div *ngIf="confirmNewPassword.errors?.['required']">
            Please enter confirm new password*
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>