<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>

  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form
            class="ct-association-form form"
            [formGroup]="ctAssociationForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="form-group col-md-4">
                <label for="comfirm-password">Classes</label>
                <select
                  class="form-control"
                  formControlName="class"
                  [(ngModel)]="selectedOptionClass"
                >
                  <div
                    *ngIf="class.invalid && (class.dirty || class.touched)"
                    class="alert alert-danger"
                  >
                    <div *ngIf="class.errors?.['required']">
                      Please enter class*
                    </div>
                  </div>

                  <option selected value="undefined">
                    Please select class
                  </option>
                  <option *ngFor="let class of allClasses" [value]="class._id">
                    {{ class.name.toUpperCase() }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="comfirm-password">Teachers</label>
                <select
                  class="form-control"
                  formControlName="teacher"
                  [(ngModel)]="selectedOptionTeacher"
                >
                  <div
                    *ngIf="
                      teacher.invalid && (teacher.dirty || teacher.touched)
                    "
                    teacher="alert alert-danger"
                  >
                    <div *ngIf="teacher.errors?.['required']">
                      Please enter tacher name*
                    </div>
                  </div>
                  <option selected value="undefined">
                    Please select teacher
                  </option>
                  <option
                    *ngFor="let teacher of allTeachers"
                    [value]="teacher._id"
                  >
                    {{ teacher.firstName.toUpperCase() }}
                    {{ teacher.lastName.toUpperCase() }}
                  </option>
                </select>
              </div>

              <div class="form-group col-md-2">
                <label for="comfirm-password">Employee Id</label>
                <input
                  type="number"
                  placeholder="Please enter EMP ID"
                  class="form-control"
                  formControlName="employeeId"
                />
                <div
                  *ngIf="
                    employeeId.invalid &&
                    (employeeId.dirty || employeeId.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="employeeId.errors?.['required']">
                    Please enter employee Id.*
                  </div>
                </div>
              </div>

              <div class="button-box col-md-2">
                <label class="d-block" for="comfirm-password">&nbsp;</label>
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center rounded p-4 table-box">
            <div
              class="d-flex align-items-center justify-content-between mb-3 table-header"
            >
              <h6 class="mb-0 title">CT Association</h6>
              <a href="">Show All</a>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S. No.</th>
                    <th scope="col">Class</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Employee Id</th>
                    <th scope="col" style="width: 200px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let association of getClassTeacherAssociationData
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ association?.class?.name }}</td>
                    <td>
                      {{ association?.teacher?.firstName }}
                      {{ association?.teacher?.lastName }}
                    </td>
                    <td>
                      {{ association?.employeeId }}
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>

                  <!-- <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>

                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>

                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>

                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>

                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>

                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
