<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>

  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="cs-association-form form">
            <div class="row">
              <div class="form-group col-md-5">
                <label for="comfirm-password">Classes</label>
                <select
                  class="form-control"
                  formControlName="studentsid"
                  [(ngModel)]="selectedOption"
                >
                  <option selected value="undefined">
                    Please select class
                  </option>
                  <option *ngFor="let class of allClasses" [value]="class._id">
                    {{ class.name.toUpperCase() }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="comfirm-password">Teachers</label>
                <select
                  class="form-control"
                  formControlName="studentsid"
                  [(ngModel)]="selectedOption"
                >
                  <option selected value="undefined">
                    Please select teacher
                  </option>
                  <option
                    *ngFor="let teacher of allTeachers"
                    [value]="teacher._id"
                  >
                    {{ teacher.firstName.toUpperCase() }}
                    {{ teacher.lastName.toUpperCase() }}
                  </option>
                </select>
              </div>
              <div class="button-box col-md-2">
                <label class="d-block" for="comfirm-password">&nbsp;</label>
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center rounded p-4 table-box">
            <div
              class="d-flex align-items-center justify-content-between mb-3 table-header"
            >
              <h6 class="mb-0 title">CT Association</h6>
              <a href="">Show All</a>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S. No.</th>
                    <th scope="col">Class</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    <th scope="col" style="width: 110px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>
                    <td>
                      <div class="pending label" href="#">Pending</div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item pending" href="#"
                              >Pending</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item approve" href="#"
                              >Approve</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item reject" href="#">Reject</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>
                    <td>
                      <div class="pending label" href="#">Pending</div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item pending" href="#"
                              >Pending</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item approve" href="#"
                              >Approve</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item reject" href="#">Reject</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>
                    <td>
                      <div class="pending label" href="#">Pending</div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item pending" href="#"
                              >Pending</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item approve" href="#"
                              >Approve</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item reject" href="#">Reject</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>
                    <td>
                      <div class="pending label" href="#">Pending</div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item pending" href="#"
                              >Pending</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item approve" href="#"
                              >Approve</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item reject" href="#">Reject</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>1st</td>
                    <td>john doe</td>
                    <td>
                      <div class="pending label" href="#">Pending</div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item pending" href="#"
                              >Pending</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item approve" href="#"
                              >Approve</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item reject" href="#">Reject</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link active" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
