<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>

  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form
            class="ct-association-form form"
            [formGroup]="ctAssociationForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="form-group col-md-4">
                <label for="classes">Classes</label>
                <select
                  class="form-control"
                  formControlName="class"
                  [(ngModel)]="selectedOptionClass"
                  id="classes"
                >
                  <div
                    *ngIf="class.invalid && (class.dirty || class.touched)"
                    class="alert alert-danger"
                  >
                    <div *ngIf="class.errors?.['required']">
                      Please enter class*
                    </div>
                  </div>

                  <option selected value="undefined">
                    Please select class
                  </option>
                  <option *ngFor="let class of allClasses" [value]="class._id">
                    {{ class.name.toUpperCase() }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="teachers">Teachers</label>
                <select
                  class="form-control"
                  formControlName="teacher"
                  [(ngModel)]="selectedOptionTeacher"
                  id="teachers"
                >
                  <div
                    *ngIf="
                      teacher.invalid && (teacher.dirty || teacher.touched)
                    "
                    teacher="alert alert-danger"
                  >
                    <div *ngIf="teacher.errors?.['required']">
                      Please enter tacher name*
                    </div>
                  </div>
                  <option selected value="undefined">
                    Please select teacher
                  </option>
                  <option
                    *ngFor="let teacher of allTeachers"
                    [value]="teacher._id"
                  >
                    {{ teacher.firstName.toUpperCase() }}
                    {{ teacher.lastName.toUpperCase() }}
                  </option>
                </select>
              </div>

              <div class="form-group col-md-2">
                <label for="employeeId">Employee Id</label>
                <input
                  type="number"
                  placeholder="Please enter EMP ID"
                  class="form-control"
                  formControlName="employeeId"
                  id="employeeId"
                />
                <div
                  *ngIf="
                    employeeId.invalid &&
                    (employeeId.dirty || employeeId.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="employeeId.errors?.['required']">
                    Please enter employee Id.*
                  </div>
                </div>
              </div>

              <div class="button-box col-md-2">
                <label class="d-block" for="submit">&nbsp;</label>
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center rounded p-4 table-box">
            <div
              class="d-flex align-items-center justify-content-between mb-3 table-header"
            >
              <h6 class="mb-0 title">CT Association</h6>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S. No.</th>
                    <th scope="col">Class</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Employee Id</th>
                    <th scope="col" style="width: 200px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let association of getClassTeacherAssociationData
                        | paginate
                          : {
                              itemsPerPage: tableSize,
                              currentPage: page,
                              totalItems: totalCount
                            };
                      index as i
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ association?.class?.name }}</td>
                    <td>
                      {{ association?.teacher?.firstName }}
                      {{ association?.teacher?.lastName }}
                    </td>
                    <td>
                      {{ association?.employeeId }}
                    </td>
                    <td>
                      <a
                        class="btn btn-sm btn-primary"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#classteachermodal"
                        (click)="onTeacherAssociation(association)"
                        ><i class="bi bi-eye"></i
                      ></a>
                      <a class="btn btn-sm btn-primary" href="#"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<div
  class="modal fade"
  id="classteachermodal"
  tabindex="-1"
  aria-labelledby="classteachermodal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="classteachermodal">Teacher Association</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="py-3 px-2">
          <!-- <div class="avatar">
            <img src="https://i.imgur.com/hczKIze.jpg" class="rounded-circle" />
          </div> -->
          <div class="student-detail">
            <div class="row">
              <div class="col-4">
                <h4 class="title">Class:</h4>
              </div>
              <div class="col-8">
                <p>{{ teacherAssociation?.class?.name }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <h4 class="title">Name:</h4>
              </div>
              <div class="col-8">
                <p>
                  {{ teacherAssociation?.teacher?.firstName }}
                  {{ teacherAssociation?.teacher?.firstName }}
                </p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <h4 class="title">Employee Id:</h4>
              </div>
              <div class="col-8">
                <p>{{ teacherAssociation?.employeeId }}</p>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-12">
                <a href="javascript:void(0)" class="link btn"
                  >View Full Details</a
                >
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div
  class="modal fade"
  id="studentModal"
  tabindex="-1"
  aria-labelledby="studentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalLabel">Student Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body student-info">
        <div class="row px-4">
          <div class="col-sm-6">
            <p><strong>Class:</strong> {{ studentAssociation?.class?.name }}</p>
          </div>
          <div class="col-sm-6">
            <p>
              <strong>Name:</strong>
              {{ studentAssociation?.student?.firstName }}
              {{ studentAssociation?.student?.lastName }}
            </p>
          </div>
          <div class="col-sm-6">
            <p><strong>Roll No:</strong> {{ studentAssociation?.rollNo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
