$color_1: #818181;
$color_2: #f1f1f1;
$color_3: white;
$color_4: #fff;
$color_5: #f3c300;
$color_6: #222222;
$color_7: #52c5fd;
$font-family_1: "Lato", sans-serif;
$background-color_1: #111;
$background-color_2: #444;
$border-color_1: #eeeeee transparent transparent transparent;

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*============== header css =============*/
/*---------------------------------------------------- */
body {
	font-family: $font-family_1;
}

.dashboard-header{
  background: rgba(40, 58, 90, 0.9);

  #navbar{
    background: transparent;
  }
}

.dashboard-main{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  grid-template-rows: 1fr auto 1fr;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $background-color_1;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: $color_1;
		display: block;
		transition: 0.3s;
		&:hover {
			color: $color_2;
		}
	}
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
}
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: $background-color_1;
	color: $color_3;
	padding: 10px 15px;
	border: none;
	&:hover {
		background-color: $background-color_2;
	}
}
#main {
	transition: margin-left .5s;
	padding: 0px;
}
.header_area {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}
.header-top {
	padding: 3px 0px;
	a {
		color: $color_4;
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		&:hover {
			color: $color_5;
		}
	}
	ul {
		padding-left: 0px;
		margin-bottom: 0px;
		li {
			display: inline-block;
			margin-right: 15px;
		}
	}
	.header-top-left {
		a {
			margin-right: 8px;
			font-size: 12px;
			font-weight: 500;
			line-height: 20px;
			display: inline-block;
		}
	}
	.header-top-right {
		text-align: right;
		.header-social {
			a {
				color: $color_4;
				margin-left: 15px;
				-webkit-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
				font-size: 14px;
				&:hover {
					color: $color_5;
				}
			}
		}
	}
}
.navbar {
	padding: 0px;
	border: 0px;
	border-radius: 0px;
	background: #fff;
	padding: 0px 25px;
	.logo_h {
		padding-top: 0px;
	}
	.menu_nav {
		.nav-item {
			.nav-link {
				font: 500 12px/80px "Poppins", sans-serif;
				color: $color_6;
				text-transform: uppercase;
				padding: 0px;
				&:after {
					display: none;
				}
			}
			&:hover {
				.nav-link {
					color: $color_7;
				}
			}
			+ {
				li {
					margin-left: 30px;
				}
			}
		}
		.nav-item.active {
			.nav-link {
				color: $color_7;
			}
		}
		.nav-item.submenu {
			position: relative;
			ul {
				border: none;
				padding: 0px;
				border-radius: 0px;
				-webkit-box-shadow: none;
				box-shadow: none;
				margin: 0px;
				background: transparent;
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 10px 0 10px;
					border-color: $border-color_1;
					position: absolute;
					right: 24px;
					top: 45px;
					z-index: 3;
					opacity: 0;
					-webkit-transition: all 400ms linear;
					-o-transition: all 400ms linear;
					transition: all 400ms linear;
				}
				.nav-item {
					display: block;
					float: none;
					margin-right: 0px;
					border-bottom: 1px solid #ededed;
					margin-left: 0px;
					background: #fff;
					-webkit-transition: all 0.4s linear;
					-o-transition: all 0.4s linear;
					transition: all 0.4s linear;
					.nav-link {
						line-height: 45px;
						color: $color_6;
						padding: 0px 30px;
						-webkit-transition: all 150ms linear;
						-o-transition: all 150ms linear;
						transition: all 150ms linear;
						display: block;
					}
					&:last-child {
						border-bottom: none;
					}
					&:hover {
						.nav-link {
							background: #f0f0f0;
							color: $color_7;
						}
					}
				}
			}
			&:hover {
				ul {
					.nav-item {
						margin-top: 0px;
					}
				}
			}
		}
	}
}
.menu_two {
	background: rgba(255, 255, 255, 0.15);
	.menu_nav {
		.nav-item {
			.nav-link {
				line-height: 60px;
				color: $color_4;
			}
		}
	}
}
.navbar_fixed {
	position: fixed;
	width: 100%;
	left: 0;
	background: #fff;
	top: 0;
	top: -50px;
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
	.navbar {
		background: transparent;
	}
	.header-top {
		display: none;
	}
}
.navbar_fixed.header_two {
	background: rgba(34, 34, 34, 0.9);
}
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
@media (max-width: 414px) {
	.header-top {
		ul {
			li {
				margin-right: 0px;
			}
		}
	}
}
@media (min-width: 992px) {
	.navbar {
		.menu_nav {
			.nav-item.submenu {
				ul {
					position: absolute;
					top: 100%;
					left: 0px;
					min-width: 220px;
					text-align: left;
					opacity: 0;
					-webkit-transition: all 300ms ease-in;
					-o-transition: all 300ms ease-in;
					transition: all 300ms ease-in;
					visibility: hidden;
					display: block;
					border: none;
					padding: 0px;
					border-radius: 0px;
					.nav-item {
						margin-top: 10px;
					}
				}
				&:hover {
					ul {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
}
