<app-sidebar></app-sidebar>
<div id="main" class="dashboard-main">
  <app-header></app-header>
  <section class="table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/landing/home">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a routerLink="/admin/dashboard/landing">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Staffs</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-between mb-3 title-box">
          <h2 class="title">Hii, Mukut Prasad</h2>
          <h3 class="message">Good Morning</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-box text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-3 table-header">
              <h6 class="mb-0 title">Staffs</h6>
              <a href="">Show All</a>
            </div>
            <div class="table-responsive">
              <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                  <tr class="text-dark">
                    <th scope="col">S No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="width: 200px">Action</th>
                    <th scope="col" style="width: 110px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let user of getAllStaffsFetched; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobileNumber }}</td>
                    <td>{{ user.role.name }}</td> -->
                  <tr>
                    <td>1</td>
                    <td>Jhon Doe</td>
                    <td>john@gmail.com</td>
                    <td>75527478522</td>
                    <td>admin</td>
                    <td>
                      <div class="pending label" href="#">Pending</div>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="#"><i class="bi bi-eye"></i></a>
                      <a class="btn btn-sm btn-primary" href="#"><i class="bi bi-trash"></i></a>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item pending" href="#">Pending</a></li>
                          <li><a class="dropdown-item approve" href="#">Approve</a></li>
                          <li><a class="dropdown-item reject" href="#">Reject</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination justify-content-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link active" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>